ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE 100-P-001
    PIPING-SPEC A1A
    PROJECT-IDENTIFIER DEMO
MATERIALS
ITEM-CODE P2
    DESCRIPTION PIPE SMLS
    DESCRIPTION ASTM A106-B
ITEM-CODE E2
    DESCRIPTION ELBOW 90 LR
! comment line
PIPE
    END-POINT 0.0000 0.0000 0.0000 2
    END-POINT 40.0000 0.0000 0.0000 2
    ITEM-CODE P2
    FABRICATION-ITEM
ELBOW
    END-POINT 40.0000 0.0000 0.0000 2
    END-POINT 43.0000 3.0000 0.0000 2
    CENTRE-POINT 43.0000 0.0000 0.0000
    SKEY ELBW
    ITEM-CODE E2
TEE
    END-POINT 43.0000 3.0000 0.0000 2
    END-POINT 43.0000 8.0000 0.0000 2
    CENTRE-POINT 43.0000 5.5000 0.0000
    BRANCH1-POINT 40.5000 5.5000 0.0000 1.5
    SKEY TEBW
REDUCER-ECCENTRIC
END-POINT 43.0000 8.0000 0.0000 2
END-POINT 43.0000 11.0000 0.2500 1.5
SKEY REBW
    FLAT-DIRECTION DOWN
INSTRUMENT
    END-POINT 0 0 0 1
    END-POINT 0 0 5 1
    SKEY XXXX
PIPELINE-REFERENCE 100-P-002
PIPE
    END-POINT 0 0 0 1 BW
    END-POINT 0 0 10 1 BW
