ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE flg_lj150_pair__A
MATERIALS
ITEM-CODE PIPE-DN100-SCH-STD
    DESCRIPTION PIPE NPS 4 SCH-STD
ITEM-CODE FLANGE-DN100-LJ-150LB
    DESCRIPTION FLANGE NPS 4 LJ 150lb
ITEM-CODE GASKET-DN100-150LB
    DESCRIPTION GASKET NPS 4 150lb
ITEM-CODE BOLTS_NUTS-DN100-150LB
    DESCRIPTION BOLT NPS 4 150lb
PIPE
    END-POINT 0.0000 0.0000 0.0000 100
    END-POINT 500.0000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":500.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
FLANGE
    END-POINT 500.0000 0.0000 0.0000 100
    END-POINT 500.0000 0.0000 0.0000 100
    SKEY FLLJ
    ITEM-CODE FLANGE-DN100-LJ-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"LJ","Kv":0.0,"ODp":134.87,"PRating":"No rating","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,-0.5,-0.5,0.5],"T1":33.27,"Y":0.0,"d":116.84,"df":190.5,"drf":0.0,"dwn":0.0,"f":19.05,"n":8,"t":23.88,"trf":0.0,"twn":0.0}
GASKET
    END-POINT 500.0000 0.0000 0.0000 100
    END-POINT 504.5000 0.0000 0.0000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.5,0.5,0.5,0.5],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 497.7500 0.0000 0.0000 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.5,-0.5,-0.5,0.5],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
FLANGE
    END-POINT 504.5000 0.0000 0.0000 100
    END-POINT 504.5000 0.0000 0.0000 100
    SKEY FLLJ
    ITEM-CODE FLANGE-DN100-LJ-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"LJ","Kv":0.0,"ODp":134.87,"PRating":"No rating","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,0.5,0.5,0.5],"T1":33.27,"Y":0.0,"d":116.84,"df":190.5,"drf":0.0,"dwn":0.0,"f":19.05,"n":8,"t":23.88,"trf":0.0,"twn":0.0}
PIPE
    END-POINT 504.5000 0.0000 0.0000 100
    END-POINT 1004.5000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":500.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
