ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE multi_flange_stack__A
MATERIALS
ITEM-CODE PIPE-DN100-SCH-STD
    DESCRIPTION PIPE NPS 4 SCH-STD
ITEM-CODE FLANGE-DN100-WN-150LB-SCH-STD
    DESCRIPTION FLANGE NPS 4 WN 150lb SCH-STD
ITEM-CODE GASKET-DN100-150LB
    DESCRIPTION GASKET NPS 4 150lb
ITEM-CODE BOLTS_NUTS-DN100-150LB
    DESCRIPTION BOLT NPS 4 150lb
ITEM-CODE FLANGE-DN100-SO-150LB
    DESCRIPTION FLANGE NPS 4 SO 150lb
ITEM-CODE VALVE-DN100-BALL_LONGPATTERNRF-150LB
    DESCRIPTION VALVE NPS 4 Ball_LongPatternRF 150lb
ITEM-CODE VALVE-DN100-CHECK_SWING_FULLPORTRF-150LB
    DESCRIPTION VALVE NPS 4 Check_Swing_FullPortRF 150lb
ITEM-CODE FLANGE-DN100-LJ-150LB
    DESCRIPTION FLANGE NPS 4 LJ 150lb
ITEM-CODE ELBOW-DN100-SCH-STD-90-LR
    DESCRIPTION ELBOW 90DEG LR NPS 4 SCH-STD
ITEM-CODE FLANGE-DN100-BL-150LB
    DESCRIPTION FLANGE-BLIND NPS 4 BL 150lb
PIPE
    END-POINT 0.0000 0.0000 0.0000 100
    END-POINT 400.0000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":400.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
FLANGE
    END-POINT 477.8000 0.0000 0.0000 100
    END-POINT 400.0000 0.0000 0.0000 100
    SKEY FLWN
    ITEM-CODE FLANGE-DN100-WN-150LB-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"WN","Kv":0.0,"ODp":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,-0.5,-0.5,0.5],"T1":76.2,"Y":0.0,"d":102.2604,"df":190.5,"drf":157.23,"dwn":134.87,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":41.91}
GASKET
    END-POINT 477.8000 0.0000 0.0000 100
    END-POINT 482.3000 0.0000 0.0000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.5,0.5,0.5,0.5],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 475.5500 0.0000 0.0000 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.5,-0.5,-0.5,0.5],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
FLANGE
    END-POINT 482.3000 0.0000 0.0000 100
    END-POINT 560.1000 0.0000 0.0000 100
    SKEY FLWN
    ITEM-CODE FLANGE-DN100-WN-150LB-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"WN","Kv":0.0,"ODp":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,0.5,0.5,0.5],"T1":76.2,"Y":0.0,"d":102.2604,"df":190.5,"drf":157.23,"dwn":134.87,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":41.91}
PIPE
    END-POINT 560.1000 0.0000 0.0000 100
    END-POINT 860.1000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":300.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
FLANGE
    END-POINT 863.3000 0.0000 0.0000 100
    END-POINT 860.1000 0.0000 0.0000 100
    SKEY FLSO
    ITEM-CODE FLANGE-DN100-SO-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"SO","Kv":0.0,"ODp":134.87,"PRating":"No rating","PSize":"DN100","PType":"Flange","R":0.0,"Rot":[0.5,-0.5,-0.5,0.5],"T1":33.27,"Y":0.0,"d":116.06,"df":190.5,"drf":157.23,"dwn":0.0,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":0.0}
GASKET
    END-POINT 863.3000 0.0000 0.0000 100
    END-POINT 867.8000 0.0000 0.0000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.5,0.5,0.5,0.5],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 861.0500 0.0000 0.0000 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.5,-0.5,-0.5,0.5],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
FLANGE
    END-POINT 867.8000 0.0000 0.0000 100
    END-POINT 871.0000 0.0000 0.0000 100
    SKEY FLSO
    ITEM-CODE FLANGE-DN100-SO-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"SO","Kv":0.0,"ODp":134.87,"PRating":"No rating","PSize":"DN100","PType":"Flange","R":0.0,"Rot":[0.5,0.5,0.5,0.5],"T1":33.27,"Y":0.0,"d":116.06,"df":190.5,"drf":157.23,"dwn":0.0,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":0.0}
PIPE
    END-POINT 871.0000 0.0000 0.0000 100
    END-POINT 1171.0000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":300.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
FLANGE
    END-POINT 1248.8000 0.0000 0.0000 100
    END-POINT 1171.0000 0.0000 0.0000 100
    SKEY FLWN
    ITEM-CODE FLANGE-DN100-WN-150LB-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"WN","Kv":0.0,"ODp":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,-0.5,-0.5,0.5],"T1":76.2,"Y":0.0,"d":102.2604,"df":190.5,"drf":157.23,"dwn":134.87,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":41.91}
GASKET
    END-POINT 1248.8000 0.0000 0.0000 100
    END-POINT 1253.3000 0.0000 0.0000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.5,0.5,0.5,0.5],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 1246.5500 0.0000 0.0000 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.5,-0.5,-0.5,0.5],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
VALVE
    END-POINT 1482.3000 0.0000 0.0000 100
    END-POINT 1253.3000 0.0000 0.0000 100
    SKEY VBFL
    ITEM-CODE VALVE-DN100-BALL_LONGPATTERNRF-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"Actuator":"Handle","BottomH":0.0,"Conn":"150lb","FlgD":228.6,"FlgDf":190.5,"FlgDrf":157.23,"FlgF":19.05,"FlgN":8,"FlgTrf":1.6,"Flgt":23.88,"Height":229.0,"Kv":10000.0,"ODBody":72.0,"PRating":"Ball_LongPatternRF","PSize":"DN100","PType":"Valve","Rot":[0.5,0.5,0.5,0.5],"TopH":0.0}
GASKET
    END-POINT 1482.3000 0.0000 0.0000 100
    END-POINT 1486.8000 0.0000 0.0000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.5,0.5,0.5,0.5],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 1480.0500 0.0000 0.0000 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.5,-0.5,-0.5,0.5],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
FLANGE
    END-POINT 1486.8000 0.0000 0.0000 100
    END-POINT 1564.6000 0.0000 0.0000 100
    SKEY FLWN
    ITEM-CODE FLANGE-DN100-WN-150LB-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"WN","Kv":0.0,"ODp":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,0.5,0.5,0.5],"T1":76.2,"Y":0.0,"d":102.2604,"df":190.5,"drf":157.23,"dwn":134.87,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":41.91}
PIPE
    END-POINT 1564.6000 0.0000 0.0000 100
    END-POINT 1864.6000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":300.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
FLANGE
    END-POINT 1942.4000 0.0000 0.0000 100
    END-POINT 1864.6000 0.0000 0.0000 100
    SKEY FLWN
    ITEM-CODE FLANGE-DN100-WN-150LB-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"WN","Kv":0.0,"ODp":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,-0.5,-0.5,0.5],"T1":76.2,"Y":0.0,"d":102.2604,"df":190.5,"drf":157.23,"dwn":134.87,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":41.91}
GASKET
    END-POINT 1942.4000 0.0000 0.0000 100
    END-POINT 1946.9000 0.0000 0.0000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.5,0.5,0.5,0.5],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 1940.1500 0.0000 0.0000 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.5,-0.5,-0.5,0.5],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
VALVE
    END-POINT 2238.9000 0.0000 0.0000 100
    END-POINT 1946.9000 0.0000 0.0000 100
    SKEY VCFL
    ITEM-CODE VALVE-DN100-CHECK_SWING_FULLPORTRF-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"Actuator":"Handle","BottomH":81.0,"Conn":"150lb","FlgD":228.6,"FlgDf":190.5,"FlgDrf":157.23,"FlgF":19.05,"FlgN":8,"FlgTrf":1.6,"Flgt":23.88,"Height":292.0,"Kv":0.0,"ODBody":72.0,"PRating":"Check_Swing_FullPortRF","PSize":"DN100","PType":"Valve","Rot":[0.5,0.5,0.5,0.5],"TopH":175.0}
GASKET
    END-POINT 2238.9000 0.0000 0.0000 100
    END-POINT 2243.4000 0.0000 0.0000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.5,0.5,0.5,0.5],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 2236.6500 0.0000 0.0000 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.5,-0.5,-0.5,0.5],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
FLANGE
    END-POINT 2243.4000 0.0000 0.0000 100
    END-POINT 2321.2000 0.0000 0.0000 100
    SKEY FLWN
    ITEM-CODE FLANGE-DN100-WN-150LB-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"WN","Kv":0.0,"ODp":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,0.5,0.5,0.5],"T1":76.2,"Y":0.0,"d":102.2604,"df":190.5,"drf":157.23,"dwn":134.87,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":41.91}
PIPE
    END-POINT 2321.2000 0.0000 0.0000 100
    END-POINT 2621.2000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":300.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
FLANGE
    END-POINT 2621.2000 0.0000 0.0000 100
    END-POINT 2621.2000 0.0000 0.0000 100
    SKEY FLLJ
    ITEM-CODE FLANGE-DN100-LJ-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"LJ","Kv":0.0,"ODp":134.87,"PRating":"No rating","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,-0.5,-0.5,0.5],"T1":33.27,"Y":0.0,"d":116.84,"df":190.5,"drf":0.0,"dwn":0.0,"f":19.05,"n":8,"t":23.88,"trf":0.0,"twn":0.0}
GASKET
    END-POINT 2621.2000 0.0000 0.0000 100
    END-POINT 2625.7000 0.0000 0.0000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.5,0.5,0.5,0.5],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 2618.9500 0.0000 0.0000 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.5,-0.5,-0.5,0.5],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
FLANGE
    END-POINT 2625.7000 0.0000 0.0000 100
    END-POINT 2625.7000 0.0000 0.0000 100
    SKEY FLLJ
    ITEM-CODE FLANGE-DN100-LJ-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"LJ","Kv":0.0,"ODp":134.87,"PRating":"No rating","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.5,0.5,0.5,0.5],"T1":33.27,"Y":0.0,"d":116.84,"df":190.5,"drf":0.0,"dwn":0.0,"f":19.05,"n":8,"t":23.88,"trf":0.0,"twn":0.0}
PIPE
    END-POINT 2625.7000 0.0000 0.0000 100
    END-POINT 2925.7000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":300.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
ELBOW
    END-POINT 2925.7000 0.0000 0.0000 100
    END-POINT 3078.1000 0.0000 152.4000 100
    CENTRE-POINT 3078.1000 0.0000 0.0000
    SKEY ELBW
    ITEM-CODE ELBOW-DN100-SCH-STD-90-LR
    COMPONENT-ATTRIBUTE99 QUETZAL{"BendAngle":90.0,"BendRadius":152.4,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Elbow","Rot":[0.5,-0.5,0.5,0.5],"thk":6.0198}
PIPE
    END-POINT 3078.1000 0.0000 152.4000 100
    END-POINT 3078.1000 0.0000 552.4000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":400.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.0,0.0,0.707106781,-0.707106781],"thk":6.0198}
FLANGE
    END-POINT 3078.1000 0.0000 630.2000 100
    END-POINT 3078.1000 0.0000 552.4000 100
    SKEY FLWN
    ITEM-CODE FLANGE-DN100-WN-150LB-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"WN","Kv":0.0,"ODp":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Flange","R":11.18,"Rot":[0.707106781,0.707106781,0.0,-0.0],"T1":76.2,"Y":0.0,"d":102.2604,"df":190.5,"drf":157.23,"dwn":134.87,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":41.91}
GASKET
    END-POINT 3078.1000 0.0000 630.2000 100
    END-POINT 3078.1000 0.0000 634.7000 100
    ITEM-CODE GASKET-DN100-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"CROD":174.8,"FClass":"150lb","IRID":106.4,"Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Gasket","Rot":[0.0,0.0,0.707106781,-0.707106781],"Rthk":3.2,"SEID":127.0,"SEOD":149.4,"SEthk":4.5}
BOLT
    CO-ORDS 3078.1000 0.0000 627.9500 100
    ITEM-CODE BOLTS_NUTS-DN100-150LB
    BOLT-DIA 15.88
    BOLT-LENGTH 86.61
    BOLT-QUANTITY 8
    COMPONENT-ATTRIBUTE99 QUETZAL{"FClass":"150lb","Kv":0.0,"PRating":"150lb","PSize":"DN100","PType":"Bolts_Nuts","Rot":[0.707106781,0.707106781,0.0,-0.0],"SEthk":4.5,"dBolt":15.875,"dNut":31.1658,"df":190.5,"lBolt":86.6148,"n":8,"tNut":16.0274}
FLANGE-BLIND
    END-POINT 3078.1000 0.0000 634.7000 100
    END-POINT 3078.1000 0.0000 660.1800 100
    SKEY FLBL
    ITEM-CODE FLANGE-DN100-BL-150LB
    COMPONENT-ATTRIBUTE99 QUETZAL{"B2":0.0,"D":228.6,"FClass":"150lb","FlangeType":"BL","Kv":0.0,"ODp":0.0,"PRating":"No rating","PSize":"DN100","PType":"Flange","R":0.0,"Rot":[0.0,0.0,-0.707106781,0.707106781],"T1":0.0,"Y":0.0,"d":0.0,"df":190.5,"drf":157.23,"dwn":0.0,"f":19.05,"n":8,"t":23.88,"trf":1.6,"twn":0.0}
