ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE sw_coupling__A
MATERIALS
ITEM-CODE PIPE-DN25-SCH-80
    DESCRIPTION PIPE NPS 1 SCH-80
ITEM-CODE SOCKETCOUPLING-DN25-3000LB-SW
    DESCRIPTION COUPLING NPS 1 3000lb SW
PIPE
    END-POINT 0.0000 0.0000 0.0000 25
    END-POINT 300.0000 0.0000 0.0000 25
    ITEM-CODE PIPE-DN25-SCH-80
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":300.0,"Kv":0.0,"OD":33.401,"PRating":"SCH-80","PSize":"DN25","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":4.5466}
COUPLING
    END-POINT 300.0000 0.0000 0.0000 25
    END-POINT 326.0000 0.0000 0.0000 25
    SKEY CPSW
    ITEM-CODE SOCKETCOUPLING-DN25-3000LB-SW
    COMPONENT-ATTRIBUTE99 QUETZAL{"A":35.0,"C":5.0,"Conn":"SW","D":25.9,"E":22.0,"Kv":0.0,"OD":33.4,"OD2":33.4,"PRating":"3000lb","PSize":"DN25","PSize2":"DN25","PType":"SocketCoupling","Rot":[0.5,0.5,0.5,0.5]}
PIPE
    END-POINT 326.0000 0.0000 0.0000 25
    END-POINT 626.0000 0.0000 0.0000 25
    ITEM-CODE PIPE-DN25-SCH-80
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":300.0,"Kv":0.0,"OD":33.401,"PRating":"SCH-80","PSize":"DN25","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":4.5466}
