ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE elbow_lr45__A
MATERIALS
ITEM-CODE PIPE-DN100-SCH-STD
    DESCRIPTION PIPE NPS 4 SCH-STD
ITEM-CODE ELBOW-DN100-SCH-STD-45-LR
    DESCRIPTION ELBOW 45DEG LR NPS 4 SCH-STD
PIPE
    END-POINT 0.0000 0.0000 0.0000 100
    END-POINT 600.0000 0.0000 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":600.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":6.0198}
ELBOW
    END-POINT 600.0000 0.0000 0.0000 100
    END-POINT 707.7631 44.6369 0.0000 100
    CENTRE-POINT 663.1261 0.0000 0.0000
    SKEY ELBW
    ITEM-CODE ELBOW-DN100-SCH-STD-45-LR
    COMPONENT-ATTRIBUTE99 QUETZAL{"BendAngle":45.0,"BendRadius":152.4,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Elbow","Rot":[0.0,0.0,0.555570233,0.831469612],"thk":6.0198}
PIPE
    END-POINT 707.7631 44.6369 0.0000 100
    END-POINT 1061.3165 398.1903 0.0000 100
    ITEM-CODE PIPE-DN100-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":500.0,"Kv":0.0,"OD":114.3,"PRating":"SCH-STD","PSize":"DN100","PType":"Pipe","Rot":[0.27059805,0.653281482,0.653281482,0.27059805],"thk":6.0198}
