ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE support_beamclamp__A
MATERIALS
ITEM-CODE PIPE-DN50-SCH-STD
    DESCRIPTION PIPE NPS 2 SCH-STD
ITEM-CODE CLAMP-LA037-SHORT
    DESCRIPTION SUPPORT LA037-short
PIPE
    END-POINT 0.0000 0.0000 0.0000 50
    END-POINT 1500.0000 0.0000 0.0000 50
    ITEM-CODE PIPE-DN50-SCH-STD
    COMPONENT-ATTRIBUTE99 QUETZAL{"Height":1500.0,"Kv":0.0,"OD":60.325,"PRating":"SCH-STD","PSize":"DN50","PType":"Pipe","Rot":[0.5,0.5,0.5,0.5],"thk":3.9116}
SUPPORT
    CO-ORDS 750.0000 0.0000 -80.1625 0
    ITEM-CODE CLAMP-LA037-SHORT
    NAME Beam Clamp
    COMPONENT-ATTRIBUTE99 QUETZAL{"Bolt":"M10","ClampType":"Beam","PSize":"LA037-short","PType":"Clamp","ProductCode":"LA037","Rot":[0.0,0.0,0.0,1.0],"T":5.0,"V":4.0,"W":26.0,"X":11.0,"Y":20.0}
